<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>Valet Documentation - {{ page.title }}</title>

    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="assets/stylesheets/styles.css">
    <link rel="stylesheet" href="assets/stylesheets/pygment_trac.css">
    <!--[if lt IE 9]>
    <script type="text/javascript" src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="wrapper">
      <header>
        <h1>Valet</h1>
        <p>A framework for creating GNU compliant command-line interfaces.</p>
        <p class="view"><a href="https://github.com/gitkeeper/valet">View the Project on GitHub <small>gitkeeper/valet</small></a></p>
        <ul>
          <li><a href="https://github.com/gitkeeper/valet/zipball/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/gitkeeper/valet/tarball/master">Download <strong>TAR Ball</strong></a></li>
          <li><a href="https://github.com/gitkeeper/valet">View On <strong>GitHub</strong></a></li>
        </ul>
      </header>

      <section>
        {{ content }}
      </section>

      <footer>
        <p>This project is maintained by <a href="https://github.com/gitkeeper">gitkeeper</a></p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script type="text/javascript" src="assets/javascripts/scale.fix.js"></script>
  </body>
</html>
